@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradients
    very light red: hsl(13, 100%, 72%)
    light red: hsl(353, 100%, 62%)

    very dark gray blue: hsl(237, 17%, 21%)
    very dark desaturated blue: hsl(237, 23%, 32%)
*/

@layer base {
  /* For testing purposes */
  * {
    /* outline: 1px solid red; */
  }

  body {
    @apply font-ubuntu;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-overpass;
  }
}

@layer components {
  .navItem {
    @apply text-white p-4 relative;
  }

  .navItem::after {
    content: "";
    height: 2px;
    width: 0px;
    background-color: white;
    border-radius: 100px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-3px);
    transition: width 0.3s ease-in-out;
  }

  .navItem:hover::after {
    width: calc(100% - 2rem);
  }

  .solidButton,
  .clearButton {
    @apply px-6 py-2 rounded-full font-bold duration-300 ease-in-out;
  }

  .solidButton {
    @apply text-lightRed bg-white hover:text-white hover:bg-veryLightRed;
  }

  .solidButton::after,
  .clearButton::after {
    content: none;
  }

  #future-section {
    @apply bg-future bg-no-repeat;
    background-size: 60%;
    background-position: left calc(100vh + 15%) center;
    /* background-color: pink; */
  }
}

@layer utilities {
  .heroGradient {
    background-image: url("../images/bg-pattern-intro-desktop.svg"),
      linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    /* background-image: url("../images/bg-pattern-intro-desktop.svg"); */
    background-size: 130rem, 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .iconShadow {
    filter: drop-shadow(0 0 3px rgb(0 0 0 / 0.3));
  }
}
