@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradients
    very light red: hsl(13, 100%, 72%)
    light red: hsl(353, 100%, 62%)

    very dark gray blue: hsl(237, 17%, 21%)
    very dark desaturated blue: hsl(237, 23%, 32%)
*/

@layer base {
  /* For testing purposes */
  * {
    outline: 1px solid red;
  }

  body {
    @apply font-ubuntu;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-overpass;
  }
}

@layer components {
  .navItem {
    @apply text-white bg-yellow-600;
  }

  .btn {
    @apply p-4 border rounded-full font-bold;
  }
}

@layer utilities {
  .heroGradient {
    background-image: url("../images/bg-pattern-intro-desktop.svg"),
      linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    /* background-image: url("../images/bg-pattern-intro-desktop.svg"); */
    background-size: 1920px;
  }

  .iconShadow {
    filter: drop-shadow(0 0 3px rgb(0 0 0 / 0.3));
  }
}
