@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradients
    very light red: hsl(13, 100%, 72%)
    light red: hsl(353, 100%, 62%)

    very dark gray blue: hsl(237, 17%, 21%)
    very dark desaturated blue: hsl(237, 23%, 32%)
*/

@layer base {
  /* For testing purposes */
  * {
    /* outline: 1px solid red; */
  }

  /* Body font */
  body {
    @apply font-ubuntu;
  }

  /* Headers fonts */
  h1,
  h2,
  h3,
  h4 {
    @apply font-overpass;
  }
}

@layer components {
  /* Navigation items */
  .navItem {
    @apply text-white p-4 relative textShadow;
  }

  .navItem::after {
    content: "";
    height: 2px;
    width: 0px;
    background-color: white;
    border-radius: 100px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-3px);
    transition: width 0.3s ease-in-out;
    box-shadow: 0 0 3px rgb(0 0 0 / 0.3);
  }

  .navItem:hover::after {
    width: calc(100% - 2rem);
  }

  /* Buttons */
  .solidButton,
  .clearButton {
    @apply px-6 py-2 rounded-full font-bold duration-300 ease-in-out;
    box-shadow: 0 0 7px rgb(0 0 0 / 0.3);
    text-shadow: none;
  }

  .solidButton {
    @apply text-lightRed bg-white hover:text-white hover:bg-veryLightRed;
  }

  .solidButton::after,
  .clearButton::after {
    content: none;
  }

  /* Header */
  header {
    backdrop-filter: blur(2px);
    box-shadow: 0 3px 7px rgb(0 0 0 / 0.2);
  }

  /* Future section */
  #future {
    @apply bg-future bg-no-repeat font-overpass text-veryDarkBlue;
    background-size: 60%;
    background-position: left calc(100vh + 15%) top;
  }

  #future :is(h2, h3) {
    @apply font-bold;
  }

  #future h3 {
    @apply mt-14;
  }

  #future h3 + p {
    @apply mt-6;
  }

  #future p {
    @apply leading-relaxed;
  }

  /* Infrastructure section */
  #infrastructure {
    border-radius: 0 5rem;
  }

  /* Features section */
  #features {
    background-image: url("../images/illustration-laptop-desktop.svg");
    background-repeat: no-repeat;
    background-position: left -54% center;
    background-size: 65%;
  }

  #features h2 {
    @apply text-veryDarkBlue font-bold text-2xl mb-4;
  }

  #features * + h2 {
    @apply mt-10;
  }

  /* Footer */
  footer > div > div {
    @apply flex flex-col grow items-start;
  }

  footer .navColumn > a {
    @apply px-2 py-1 relative;
  }

  footer .navColumn > a::after {
    content: "";
    height: 2px;
    width: 0px;
    background-color: white;
    border-radius: 100px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
    transition: width 0.3s ease-in-out;
  }

  footer .navColumn > a:hover::after {
    width: calc(100% - 1rem);
  }

  /* Making first item bold */
  footer .navColumn > *:first-child {
    @apply font-bold mb-4 text-white;
  }
}

@layer utilities {
  /* Gradients */
  .heroGradient {
    background-image: url("../images/bg-pattern-intro-desktop.svg"),
      linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    /* background-image: url("../images/bg-pattern-intro-desktop.svg"); */
    background-size: 130rem, 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .infrastructureGradient {
    background-image: linear-gradient(
      to right,
      hsl(237, 17%, 21%),
      hsl(237, 23%, 32%)
    );
  }

  .textShadow {
    text-shadow: 0px 0px 5px rgb(0 0 0 / 1);
  }

  .iconShadow {
    filter: drop-shadow(0 0 3px rgb(0 0 0 / 0.3));
  }
}
